{% extends 'base.html' %}

{% load carts_tag %}
{% load products_tag %}

{% block content %}
<div class="col-3">
  {% if product.image %}
    <img src="{{ product.image.url }}" width="200" height="200" alt="">
  {% endif %}
</div>
<div class="col">
  <div class="h3 font-weight-bold text-success">{{ quantity | quantity_add_format }} al carrito</div>
  <div class="">
    <a href="{% url 'products:product' slug=product.slug %}" class="font-weight-bold">
      {{ product.title }}
    </a>
  </div>
  <div class="font-weight-bold text-danger">
    {{ product.price | price_format }}
  </div>
  <div class="h4 font-weight-bold">
    Subtotal del pedito <span class="text-danger">{{ cart.subtotal | price_format }}</span>
  </div>
  <div class="">
    {{ cart.total_products | quantity_format }} en tu carrito de compras
  </div>
  <div class="mt-2">
    {% include 'carts/snippets/pay.html' %}
    <a class="btn btn-info" href="{% url 'carts:cart' %}" role="button">Ver carrito</a>
  </div>
  <div class="mt-2">
      <a href="{% url 'home' %}">Seguir comprando</a>
  </div>
</div>

{% endblock %}
