{% extends 'base.html' %}
{% load products_tag %}

{% block content %}

{% if cart.products.exists%}
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for pr in cart.products_related %}
          {% with product=pr.product %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                {% if product.image %}
                  <img src="{{ product.image.url }}" width=60 height=60 alt="">
                {% endif %}
              </td>
              <td>
                <a href="{% url 'products:product' slug=product.slug %}">{{ product.title }}</a>
                <small>
                  {% include 'carts/snippets/remove.html' with product=product%}
                </small>
              </td>
              <td>{{ pr.quantity }}</td>
              <td> <span class="font-weight-bold text-danger">{{ product.price | price_format }}</span></td>
              </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="font-weight-bold">
          Subtotal ({{ cart.message }}): <span class="text-danger">{{ cart.subtotal | price_format }}</span>
        </div>
        <div class="mt-2">
          <a class="btn btn-warning" href="{% url 'orders:order' %}" role="button">Proceder al pago</a>
        </div>
      </div>
    </div>
  </div>

{% else %}
<div class="col">
  <p class="h3">Tu carrito de compras está vacío.</p>
  <a href="{% url 'home' %}">Seguir comprando.</a>
</div>
{% endif %}

{% endblock %}
