{% load product_extras %}

<div class="card">
  <div class="card-body">
    <div class="font-weight-bold">
      Resumen del pedido
    </div>
    <div class="summary">
      <table class="table table-borderless table-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Productos:</td>
            <td>${{ cart.subtotal }}</td>
          </tr>
          <tr>
            <td>Envío:</td>
            <td>${{ order.shipping_total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <hr>
      <div class="font-weight-bold text-danger">
        Total (impuestos incluidos) <!-- {{ order.total | price_format }} -->
        <div class="d-inline-block" id="order-total">
          {{ order.total | price_format }}
        </div>
      </div>
    </div>
    <div class="mt-2">
      <a class="btn btn-warning" href="{{ url }}" role="button">Confirmar pedido</a>
    </div>
  </div>
</div>
