{% extends 'base.html' %}

{% block breadcrumb %}
<div class="mt-2">
  {% include 'orders/snippets/breadcrumb.html' with breadcrumb=breadcrumb %}
</div>
{% endblock %}

{% block content %}
<div class="col">
  {% if shipping_address %}
    <div class="h3">
      Recoge el pedido en el punto de entrega.
    </div>
    <div class="">
      {% include 'shipping_addresses/snippets/shipping_address.html' with shipping_address=shipping_address edit=False %}
    </div>
    <div class="mt-3">
      <a href="{% url 'orders:payment' %}" class="btn btn-warning">Entregar a esta dirección</a>
      {% if  choose_other_address %}
        <a href="{% url 'orders:select_address' %}" class="btn btn-secondary">Otra dirección</a>
      {% endif %}
    </div>
  {% else %}
    <div class="h3">
      Registra tu dirección de envío
    </div>
    <div class="">
      <a href="{% url 'shipping_addresses:create' %}?next={{ next_url }}">Nueva dirección</a>
    </div>
  {% endif %}
</div>
{% endblock %}
