{% extends 'base.html' %}
{% load product_extras %}

{% block breadcrumb %}
<div class="mt-2">
  {% include 'orders/snippets/breadcrumb.html' with breadcrumb=breadcrumb %}
</div>
{% endblock %}

{% block content %}
<div class="col-8">
  <p class="h3">Confirma tu pedido</p>

  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-4">
          <div class="font-weight-bold">Dirección de envío</div>
          <div class="card-text">{{ shipping_address.address }} </div>
          <div class="card-text">{{ shipping_address.city_format }} </div>
          <div class="card-text">{{ shipping_address.reference }}</div>
          <div class="card-text">{{ shipping_address.zip }}</div>
        </div>

        <div class="col-4">
          <div class="font-weight-bold">Método de pago</div>
            <div class="card-text">Tarjeta Terminación {{ order.billing_profile.last4 }} </div>
        </div>

        <div class="col-4">
          {% with promo_code=order.promo_code %}
            <div class="font-weight-bold">Código de promoción</div>
            <form class="form-inline mt-1" id='promocode-form'>
              <input type="text" name="code" value="{{ promo_code.code }}" class="form-control" {% if promo_code %} readonly {% endif %}>
            </form>
            <div class="{% if promo_code %}text-success{% endif %}" style="font-size:14px;" id="promo-code-success">
              {% if promo_code %}Código aplicado exitosamente{% endif %}
            </div>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>

  <div class="products mt-3">
    <div class="card">
      <div class="card-body">
        {% for product in cart.products.all %}
          {% include 'orders/snippets/product.html' with product=product %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>

<div class="col">
  {% url 'orders:complete' as url %}
  {% include 'orders/snippets/resume.html' with cart=cart order=order url=url %}
  <div class="cancel mt-2">
    <a href="{% url 'orders:cancel' %}" class="btn btn-danger">Cancelar orden</a>
  </div>
</div>

{% endblock%}

{% block javascript %}

<script type="text/javascript">
  const form = document.getElementById('promocode-form')

  form.addEventListener("submit", function(e){
    e.preventDefault()

    const input = this.code
    const url = '/codigos/validar?code=' + input.value
    const error_message = 'Código no valido'
    const success_message = 'Código aplicado exitosamente'

    fetch(url)
      .then(response => response.json() )
      .then(response => {

        const div_total = document.getElementById('order-total')
        const div_message = document.getElementById('promo-code-success')

        if(response.status === true){

          div_total.innerHTML = '$' + response.total

          div_message.classList.remove('text-danger')
          div_message.classList.add('text-success')

          div_message.innerHTML = success_message

          input.readOnly = true;
        }else{
          div_message.classList.add('text-danger')
          div_message.classList.remove('text-success')

          div_message.innerHTML = error_message
        }

      })
  });
</script>

{% endblock %}
