{% extends 'base.html' %}
{% load products_tag %}

{% block breadcrumb %}
<div class="mt-2">
  {% include 'orders/snippets/breadcrumb.html' with breadcrumb=breadcrumb %}
</div>
{% endblock %}

{% block content %}

<div class="col-8">
  <div class="h3">Revisa tu pedido</div>

  <div class="card">
    <div class="card-body">
      {% for product in cart.products.all %}
        {% include 'orders/snippets/product.html' with product=product%}
      {% endfor %}
    </div>
  </div>
</div>

<div class="col">
  {% url 'orders:address' as url %}
  {% include 'orders/snippets/resume.html' with cart=cart order=order url=url %}
</div>

{% endblock %}
