{% extends 'base.html' %}

{% block breadcrumb %}
<div class="mt-2">
  {% include 'orders/snippets/breadcrumb.html' with breadcrumb=breadcrumb %}
</div>
{% endblock %}

{% block content %}
<div class="col">
  <p class="h3">Selecciona una dirección de envío</p>

  {% for address in billing_profiles %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ address.zip }}</h5>
        <p class="card-text">{{ address.streat }}</p>
        <a href="{% url 'orders:check_billing_address' pk=address.pk %}" class="btn btn-warning">Seleccionar</a>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}
