{% extends 'base.html' %}

{% block content %}
<div class="col">
  <p class="h3">Mis direcciones</p>
  <a href="{% url 'billing_profiles:create' %}">Agregra nueva dirección</a>

  {% for profile in object_list %}
    <div class="mt-2 mb-5">
      {% include 'billing_profiles/snippets/billing_profile.html' with billing_profile=profile %}
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block javascript %}
  <!-- <script type="text/javascript">
    var addresses = document.getElementsByClassName("addresses");

    Array.from(addresses).forEach(function(element) {
      element.addEventListener('submit', function(e){

        e.preventDefault()

        let id = this.billing_profile_id.value
        var url = '/direccion/default?billing_profile_id=' + id

        fetch(url)
        .then(response => response.json())
        .then(function(response){
          location.reload();
        })

      });
    }); -->
  </script>
{% endblock %}
