{% url 'carts:cart' as cart_url %}
{% url 'shipping_addresses:shipping_addresses' as shipping_addresses %}
{% url 'my_orders' as my_orders %}


<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="{% url 'home' %}">CodigoFacilito</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == shipping_addresses %} active {% endif %}">
          <a class="nav-link" href="{{ shipping_addresses }}">Direcciones <span class="fas fa-location-arrow"></span></a>
        </li>
        <li class="nav-item {% if request.path == my_orders %} active {% endif %}">
          <a class="nav-link" href="{{ my_orders }}">Pedidos <span class="fas fa-shipping-fast"></span></a>
        </li>
      {% endif %}
      <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
        <a class="nav-link" href="{{ cart_url }}">Mi carrito <span class="fas fa-shopping-cart"></span></a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><span class="fas fa-user"></span> Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
