{% extends 'base.html' %}

{% block content %}
<div class="col-3">
  {% if object.image %}
    <img src="{{ object.image.url }}" width="200" height="200">
  {% endif %}
</div>
<div class="col">
  <div class="h1">{{ object.title }}</div>
  <div class="h5 font-weight-bold">
    Precio: <span class="text-danger">${{ object.price }}</span>
  </div>
  <div class="">
    <p>{{ object.description }}</p>
  </div>
  <div class="add">
    {% include 'carts/snippets/add.html' %}
  </div>

</div>
{% endblock %}
