<div class="card">
  <h5 class="card-header"></h5>
  <div class="card-body">
    <h5 class="card-title">{{ billing_profile.streat }}t</h5>
    <div class="card-text">{{ billing_profile.reference }}</div>
    <div class="card-text">{{ billing_profile.zip }}</div>
    <div class="card-text">Teléfono: {{ billing_profile.phone }}</div>

    <a href="{% url 'billing_profiles:edit' pk=billing_profile.id %}" class="btn btn-info mt-3">Editar</a>
    <a href="{% url 'billing_profiles:delete' pk=billing_profile.id %}" class="btn btn-danger mt-3">Eliminar</a>

  </div>
</div>
