<div class="card">
  <h5 class="card-header"></h5>
  <div class="card-body">
    <h5 class="card-title">{{ billing_profile.streat }}</h5>
    <div class="card-text">{{ billing_profile.reference }}</div>
    <div class="card-text">{{ billing_profile.zip }}</div>
    <div class="card-text">Teléfono: {{ billing_profile.phone }}</div>

    {% if request.user.id == billing_profile.user_id %}
      <a href="{% url 'billing_profiles:edit' pk=billing_profile.id %}" class="btn btn-info mt-3">Editar</a>
      {% if not billing_profile.default %}
        <a href="{% url 'billing_profiles:delete' pk=billing_profile.id %}" class="btn btn-danger mt-3">Eliminar</a>
      {% endif %}

      <div class="mt-2 text-info">
        {% if billing_profile.default %}
          Dirección principal
        {% else %}
          <a href="{% url 'billing_profiles:default' pk=billing_profile.id %}">Establecer como dirección principal</a>
        {% endif %}
      </div>

    {% endif %}

  </div>
</div>
